@import url(http://fonts.googleapis.com/css?family=Cabin+Sketch:400,700);


body {
  padding-top: 70px;
}

.center_img {
	text-align: center;
}

.sketch_font {
	font-family: 'Cabin Sketch', cursive;
}